/*Mobile Styles */
:root {
--Pink: hsl(322, 100%, 66%);
--VeryPaleCyan: hsl(193, 100%, 96%);
---VeryDarkCyan: hsl(192, 100%, 9%);
--GrayishBlue: hsl(208, 11%, 55%);
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--VeryPaleCyan);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: var(--GrayishBlue); 
}

.header {
    background-image: url(images/bg-hero-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--VeryPaleCyan);
     /*`ADD BG Image! - DIFFERENT FOR MOBILE & DESKTOP */
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: var(---VeryDarkCyan);
    text-align: center;
    margin: 90px 60px 10px 60px;
}

.header p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: var(---VeryDarkCyan);
    margin: 20px 50px 20px 50px;
    
}

.header img{
    width: 350px;
    height: 250px;
    display: flex;
}

.header button {
    background-color: var(--Pink);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 35px;
    padding: 15px 80px 15px 80px;
}

.navigation-bar img{
    width: 130px;
    height: 20px;
     /*positioning css */
     float: left;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
     padding: 15px;

}
.navigation-bar button{
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    font-weight: 400;
    /*positioning css */
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 30px;
}

.container {
    background-color: white;
}



/*laptop/desktop styles */
@media screen and (min-width: 1440px){
    
}